<% unless user == current_user %>
  <% if current_user.following?(user) %>
    <div class='form-group'>
      <%= button_to t('フォロー外す'), relationship_path, method: :delete, class:"btn btn-primary" %>
    </div>
  <% else %>
    <%= form_with model: User do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <div class='form-group'>
        <%= f.submit "フォローする", class:"btn btn-success" %>
      </div>
    <% end %>
  <% end %>
<% end %>