<%= form_with model: book, method: :post do |f| %>
  <div>
    <label>Title</label></div>
    <%= f.text_field :title %>
  <div>
    <label>Opinion</label></div>
    <%= f.text_area :body %>
  <div class="actions">
    <input type="submit" name="commit" value="Create Book" class="btn bg-success text-white mb-3">
  </div>
<% end %>