<h2><%= @data %> search for "<%= @word %>"</h2>
  <% if @data = "Users" %>
    <%= render 'users/index', users: @posts %>
  <% elsif @data = "Books" %>
    <%= render 'books/index', books: @posts %>
  <% end %>