<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>イベントのご案内</h1>
    <p>内容は以下の通りです。<br></p>
    <p>[タイトル]<br></p>
      <%= @mail_title %>
    <p>[本文]<br></p>
      <%= @mail_content %>
  </body>
</html>